body {
    background-image: url(fundo.jpg);
    background-repeat: repeat; /* repete o padrão */
    background-attachment: fixed; /* fundo fixo na rolagem */
    background-size: auto; /* mantém o tamanho natural */
    background-color: #7a1e1e; /* cor base por segurança */
    font-family: 'Pacifico', 'lato';
    color: #fff;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.877);
    font-size: 50px;
    padding: 1.5rem;
    margin:0;
}
.caixa:hover{
    background: #0000004b;
    border: 1px solid black;
}
h2{
    color:black;
    background: rgba(255, 255, 255, 0.712);
    width: 81rem;
}
p{
    text-align: center;
    background: rgba(243, 165, 64, 0.767);
    width: 4px, 4px;
    border: 2px solid rgba(255, 255, 255, 0.603);
}
hr{
    border: 1px solid black;
    margin: 0;
}
.botao {
    background: rgba(0, 0, 0, 0.637);
    margin: 8px;
    display: inline-block;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s;
    
}
.botao:hover {
    background-color: #237258; /* cor mais escura ao passar o mouse */
}